---
---

@import "{{ site.theme }}";

/* Cores personalizadas */
$primary-color: #007bff; // Um azul vibrante
$secondary-color: #6c757d; // Um cinza um pouco mais escuro
$accent-color: #28a745; // Um verde para destaque

body {
  font-family: sans-serif; /* Uma fonte padrão */
  color: $secondary-color;
}

h1, h2, h3 {
  color: $primary-color;
  font-weight: bold;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
